﻿@{
    ViewBag.Title = "Популярные школы";
}

<div class="s-container">
    <h1>@ViewBag.Title</h1>

    @Html.Partial("_PartialSchoolSelectFilters")
    <div class="s-line _grey"></div>

    @*<!-- ko foreach: listItems -->
    <div class="row b-school-item">
        <div class="col-lg-3 col-md-3 col-sm-3 s-ta_c s-mb_18">
            <img data-bind="attr:{src:('/Content/images/school/'+ $data.id + '.jpg')}" class="s-full s-max-210" />
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9">
            <p class="s-mb_9">
                <a data-bind="text:$data.name, attr:{href:('/school/index/' + $data.id)}" class="s-underline" href="#"></a>
            </p>
            <p class="s-fs_13 s-c_777 s-mb_5">
                <i class="fa fa-plane s-mr_5 s-c_green"></i>
                <span data-bind="text:$data.country"></span>,
                <span data-bind="text:$data.city"></span>
            </p>
            <p class="s-mb_9">
                <strong class="s-fs_13">
                    <i class="fa fa-flag-o s-mr_5 s-c_green"></i>
                    <span data-bind="text:$data.language"></span>
                </strong>
            </p>
            <p data-bind="html:$data.description_short" class="s-fs_13"></p>
        </div>
    </div>
    <!-- /ko -->*@
    @Html.Partial("_PartialSchoolList")
</div>

@section scripts{
    <script type="text/javascript" src="~/Content/js/libs/knockout-3.2.0.js"></script>
    <script type="text/javascript" src="~/Content/js/libs/format.js"></script>
    <script type="text/javascript" src="~/Content/js/models/bestPageModel.js?@DateTime.Now.GetHashCode()"></script>
    <script type="text/javascript">
        var BC = new BestController("../best", "schools");
        BC.init();
    </script>
}


