﻿@{
    ViewBag.Title = "Регистрация на мероприятие";
}

<div class="s-container">
    <div>
        <ul class="s-breadcrumbs clear s-mt_18">
            <li class="s-breadcrumbs-item">
                <a class="s-mr_10" href="/">Главная</a>
                <i class="fa fa-angle-right s-c_777 s-fs_14"></i>
            </li>
            <li class="s-breadcrumbs-item">
                <a href="@Request.Url.AbsoluteUri">@ViewBag.Title</a>
            </li>
        </ul>
    </div>
    <h1>@ViewBag.Title</h1>
    @*<p>Лучшее практическое образование для трудоустройства в Новой Зеландии.  17 ноября   Москва, м.Китай-город, Хохловский пер., 7-9, стр.2</p>*@
    <a href="https://askeducation.timepad.ru/event/451254/" data-twf-placeholder="yes">Перейти к заказу билетов</a>
    <script type="text/javascript" defer="defer" charset="UTF-8" data-timepad-customized="18096" data-twf2s-event--id="451254" data-timepad-widget-v2="event_register" src="https://timepad.ru/js/tpwf/loader/min/loader.js"></script>
</div>


@section scripts{
    <script>
        $("#loader").remove();
    </script>
}