﻿@{
    ViewBag.Title = "Помощь askeducation";
    ViewBag.MetaKeywords = "askeducation - образование, обучение, учеба за рубежом и за границей";
    ViewBag.MetaDescription = "askeducation - команда профессионалов, которая проводит подбор и бронирование программ обучения за рубежом. Мы подберем для Вас лучшую программу";
}

<div class="s-container">
    <h1>Помощь</h1>
    <div class="row">
        <div class="b-blog col-md-12 col-lg-12 col-sm-12 s-ta_justify">
            <p>
                <strong>
                    Перед бронированием программы убедитесь, что у Вас есть действующий заграничный паспорт с достаточным количеством пустых страниц для проставления соответствующей визы.
                </strong>
            </p>
            <p><strong>Как определиться с языковой программой?</strong></p>
            <p>
                Для подбора языковой программы Вы можете воспользоваться формой поиска на нашем сайте, либо получить бесплатную консультацию у наших специалистов по телефону (или через форму обратной связи). Наши менеджеры всегда готовы рассказать обо всех нюансах той или иной программы и подобрать для Вас наиболее оптимальный вариант.
            </p>
            <p><strong>Если Вы не нашли подходящую языковую программу или школу…</strong></p>
            <p>…Вы можете обратиться к нам, возможно, программа (школа) еще не добавлена в соответствующий раздел. Если мы пока еще не сотрудничаем с языковой школой, куда Вы хотели бы поехать, мы готовы помочь Вам в бронировании программы и подготовке к поездке.</p>
            
            <p><strong>Как рассчитывается стоимость языковой программы?</strong></p>
            <p>Стоимость языковых программ на нашем сайте рассчитывается, как правило, на 2 недели (если длительность программы не предусматривает иное). <strong>В стоимость детских программ включено</strong>: обучение иностранному языку, учебные материалы, сертификат об окончании курса, проживание (на кампусе школы или в семье – в зависимости от школы и программы), питание (полный пансион), встреча и проводы в аэропорту, программа мероприятий и экскурсий. <strong>В стоимость взрослых программ включено</strong>: обучение иностранному языку, учебные материалы, сертификат об окончании курса, проживание в семье (стоимость проживания в резиденции необходимо уточнять у менеджеров), встреча и проводы в аэропорту, регистрационные сборы школы (если имеются). <strong>Дополнительно оплачивается</strong>: услуги компании Ask Education по бронированию и курированию программы, оформление визы, бронирование авиабилетов, авиабилеты, медицинская страховка (если не включена в стоимость программы), банковский перевод, консульский сбор Посольства, перевод документов на английский язык (если необходимо для оформления визы), доставка документов экспресс-почтой (при необходимости). Стоимость дополнительных услуг уточняйте у наших менеджеров.</p>
            <p><sup>* </sup>в летний период на программах для взрослых могут действовать надбавки за сезон</p>
            
            <p><strong>Что нужно для бронирования программы?</strong></p>
            <p>Для бронирования программы нам необходимы данные загранпаспорта студента. Для отправки заявки на бронирование в соответствующую школу нам также необходима копия загранпаспорта студента (страница с личными данными). Для заключения договора и выставления счёта необходим российский паспорт студента (или родителя, если на программу едет ребёнок). Нам также понадобится копия российского паспорта (страница с личными данными и пропиской), чтобы забрать паспорт с визой из Посольства.</p>
            
            <p><strong>Когда необходимо начать оформление на языковую программу?</strong></p>
            <p>Бронировать языковую программу лучше всего за 2 – 2,5 месяца до ее начала. Это время необходимо для получения приглашения от школы, подготовки пакета документов для подачи на визу и непосредственно оформления визы. Конечно, можно попробовать заняться оформлением на программу и позже. Однако в этом случае может возникнуть ряд дополнительных трудностей: в школе нет мест на нужные даты, нет мест в резиденции, не успеваем оформить визу и т.д. Чтобы сэкономить своё время, нервы и деньги, позаботьтесь о своевременном оформлении на программу.</p>
            
            <p><strong>Как оплачивать программу?</strong></p>
            <p>При заключении договора на бронирование программы Вы оплачиваете услуги нашей компании, а также депозит школы. За 6 недель до начала программы или после получения визы (в зависимости от того, какой срок наступит раньше) необходимо оплатить оставшуюся сумму за программу.</p>
            <p>При заключении договора на бронирование программы, которая начнется менее, чем за 6 недель с момента заключения договора, программу необходимо оплатить полностью.</p>
            <p>Если для получения визы необходимо приглашение от школы с подтверждением полной оплаты программы, программа оплачивается полностью при заключении договора на ее бронирование.</p>
            
            <p><strong>По какому курсу оплачивается программа?</strong></p>
            <p>Оплата программы производится в рублях по курсу ЦБ+3,5% на день оплаты.</p>
            
            <p><strong>Будут ли в школе русскоязычные представители?</strong></p>
            <p>Как правило, в школах нет русскоязычных представителей. Уезжая на учёбу за границу, Вы едете, чтобы полностью погрузится в языковую среду и изучить язык. Однако, если у Вас возникают какие-то трудности во время обучения, с которыми Вы не можете справиться самостоятельно, наши менеджеры готовы посодействовать в их разрешении.</p>
            
            <p><strong>У меня плохие знания иностранного языка, как я пойму, что мне говорят?</strong></p>
            <p>Во всех школах работают высококвалифицированные преподаватели, которые прошли соответствующую подготовку и имеют соответствующие квалификации, поэтому они умеют доступно объяснять материал детям и взрослым даже с минимальным уровнем знаний иностранного языка.</p>
            
            <p><strong>Как мы работаем с регионами.</strong></p>
            <p>Несмотря на то, что у нас пока нет региональных представительств, мы с радостью оказываем помощь в оформлении на программы и жителям регионов. Наше общение происходит посредством телефона, электронной почты или skype. Вы можете присылать нам сканы документов по электронной почте. Готовый пакет документов для подачи на визу мы высылаем по почте России (в случае экстренной необходимости – посредством DHL).</p>
            
            <p><strong>Как определиться с выбором высшего учебного заведения?</strong></p>
            <p>Выбор ВУЗа задача серьёзная и ответственная. Возможно, Вы уже заранее определили ряд зарубежных ВУЗов, куда планируете поступать. Наши специалисты помогут оценить Ваши шансы на поступление после общения с Вами и изучения имеющихся у Вас документов.</p>
            
            <p><strong>Когда необходимо начать подготовку к поступлению в зарубежный ВУЗ?</strong></p>
            <p>Озадачиться вопросом дальнейшего образования за рубежом лучше всего за год-полтора до поступления. Возможно, Вам необходимо будет пройти какой-либо дополнительный языковой курс за рубежом (например, курс академического английского или программу подготовки к сдаче IELTS), чтобы «подтянуть» иностранный язык до требуемого уровня.</p>
            
            <p><strong>Если Вы не нашли нужный Вам ВУЗ на нашем сайте…</strong></p>
            <p>Некоторые топовые ВУЗы не сотрудничают с агентствами. В таких случаях мы готовы оказать Вам помощь консультативного характера, а также помочь с подготовкой пакета документов на визу в страну обучения.</p>
            
            <p><strong>Бывают ли скидки?</strong></p>
            <p>Да, скидки у нас бывают. Информацию о скидках и спецпредложениях мы размещаем в разделе новости. Помимо этого на главной странице сайта часто представлена информация о специальном курсе или об открытии новой школы.</p>
            
            <p><strong>Остались вопросы?</strong></p>
            <p>Наши специалисты всегда готовы проконсультировать Вас и ответить на интересующие вопросы. Вы можете позвонить нам по телефону<br/> <a href="tel:+7 499 322 23 16">+7 499 322 23 16</a> или <a href="tel:8 800 333 52 05">8 800 333 52 05</a> (звонки по России бесплатно) или отправить запрос через <a href="@Url.Action("index", "About")">форму обратной связи</a>.</p>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        askApp.tabs();
        askApp.selectors.$loader.hide();
    </script>
}
