﻿@using System.Data
@{
    ViewBag.Title = "Подготовка к сдаче экзаменов";
    ViewBag.MetaKeywords = "Подготовка к сдаче экзаменов за рубежом / за границей";
    ViewBag.MetaDescription = "Многие из тех, кто долгое время изучает иностранный язык, наслышаны о различных международных экзаменах (IELTS, CAE, TestDaF, DELF/DALF, DELE, CILS). Так зачем же нужны международные экзамены и где к ним лучше подготовиться?";
    
}

<div class="s-container">
    <div>
        <ul class="s-breadcrumbs clear s-mt_18">
            <li class="s-breadcrumbs-item">
                <a class="s-mr_10" href="/">Главная</a>
                <i class="fa fa-angle-right s-c_777 s-fs_14"></i>
            </li>
            <li class="s-breadcrumbs-item">
                <a href="@Request.Url.AbsoluteUri">Подготовка к сдаче экзаменов</a>
            </li>
        </ul>
    </div>
    <h1>Подготовка к сдаче экзаменов</h1>
    <div class="wysicontent js-toggler_t">
        <a class="js-toggler s-mb_5 s-display_b" href="javascript:void(0)">
            <i class="fa fa-angle-right"></i>
            показать/скрыть
        </a>
        @{
            DataTable pages = ViewBag.page;

            foreach (DataRow row in pages.Rows)
            {
                @Html.Raw(row["description"])

            }

        }
        <div class="b-blur"></div>
    </div>
    <div class="s-line _grey"></div>
    @Html.Partial("_PartialCourseSelectFilters")
    <div class="s-line _grey"></div>
    @Html.Partial("_PartialSort")
    <div class="s-line _grey"></div>
    @Html.Partial("_PartialCourseList")
</div>

@Html.Partial("PartialJoinedModal")

@section scripts{
    <script type="text/javascript" src="~/Content/js/models/filterModel.js?@DateTime.Now.GetHashCode()"></script>
    <script type="text/javascript">
        askApp.modal();
        var FC = new FilterController("course", "exampreparation");
        FC.init();
    </script>
}