﻿@using System.Data
<div id="server-result">
    @{
        DataTable countryList = ViewBag.countryList;

        foreach (DataRow row in countryList.Rows)
        {
            string url = "/Content/images/school/" + row["id"] + ".jpg";
            <div class="row b-school-item">
                <div class="col-lg-3 col-md-3 col-sm-3 s-ta_c s-mb_18">
                    <img alt="@ViewBag.Title в @row["country"] в @row["city"] @row["language"] язык" title="@ViewBag.Title в школе @row["name"]" src="@url" class="s-full s-max-210" />
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <p class="s-mb_9">
                        <a class="s-underline" href="/school/index/@row["id"]">@row["name"]</a>
                    </p>
                    <p class="s-fs_13 s-c_777 s-mb_5">
                        <i class="fa fa-plane s-mr_5 s-c_green"></i>
                        <span>@row["country"]</span>,
                        <span>@row["city"]</span>
                    </p>
                    <p class="s-mb_9">
                        <strong class="s-fs_13">
                            <i class="fa fa-flag-o s-mr_5 s-c_green"></i>
                            <span>@row["language"]</span>
                        </strong>
                    </p>
                    <p class="s-fs_13">@Html.Raw(row["description_short"])</p>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3"></div>
            </div>
        }
    }
</div>

<!-- ko foreach: listItems -->
<div class="row b-school-item">
    <div class="col-lg-3 col-md-3 col-sm-3 s-ta_c s-mb_18">
        <img data-bind="attr:{src:('/Content/images/school/'+ $data.id + '.jpg')}" class="s-full s-max-210" />
    </div>
    <div class="col-lg-7 col-md-7 col-sm-6">
        <p class="s-mb_9">
            <a data-bind="text:$data.name, attr:{href:('/school/index/' + $data.id)}" class="s-underline" href="#"></a>
        </p>
        <p class="s-fs_13 s-c_777 s-mb_5">
            <i class="fa fa-plane s-mr_5 s-c_green"></i>
            <span data-bind="text:$data.country"></span>,
            <span data-bind="text:$data.city"></span>
        </p>
        <p class="s-mb_9">
            <strong class="s-fs_13">
                <i class="fa fa-flag-o s-mr_5 s-c_green"></i>
                <span data-bind="text:$data.language"></span>
            </strong>
        </p>
        <p data-bind="html:$data.description_short" class="s-fs_13"></p>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-3">
        <i class="fa fa-money s-mr_5 s-c_green"></i>

        <span data-bind="css:{'s-display_i':$data.cost() !== '0'}" class="s-display_n">
            <span class="s-fs_12 s-c_777">от</span>&nbsp;<strong data-bind="text:$data.cost"></strong>&nbsp;<strong data-bind="text:$root.currencyIconValue"></strong>
            <span class="s-fs_12 s-c_777">(</span>&nbsp;<strong data-bind="text:$data.costCalc"></strong>&nbsp;<strong data-bind="text:$data.label"></strong>)
        </span>

        <strong data-bind="css:{'s-display_i':$data.cost() === '0'}" class="s-fs_12 s-display_n">Цена по запросу</strong>

    </div>
</div>
<!-- /ko -->