﻿@using System.Data
@using System.Web.UI.WebControls
@using MySql.Data.MySqlClient
@{
    MySqlConnection Connection = new MySqlConnection("Database=u0066974_ask_education;Data Source=37.140.192.132;User Id=u0066_root;Password=gEt7m29&;charset=utf8");
    const string countryDataRequestString = @"SELECT * FROM countries";
    DataTable countriesMenu = new DataTable();
    using (Connection)
    {
        Connection.Open();

        MySqlCommand com = new MySqlCommand(countryDataRequestString, Connection);

        using (MySqlDataReader menu = com.ExecuteReader())
        {
            if (menu.HasRows)
            {
                try
                {
                    countriesMenu.Load(menu);
                }
                catch (Exception e) { }
            }
        }

    }
    ViewBag.countriesMenu = countriesMenu;
}

<div id="mainMenu" class="b-main-menu_wrapper">
    <div class="s-container">
        <div class="row">
            <div class="col-md-12">
                <ul class="b-main-menu">
                    <li class="b-main-menu_item">
                        <a class="b-main-menu_item-inner inner_menu" href="#">Детям и подросткам</a>
                        <ul class="b-main-menu_item_sub">
                            <!--<li class="b-main-menu_item_sub-item">
                                    <a class="b-main-menu_item_sub-item_link" href="@Url.Action("Index", "CourseGroupHoliday")">Групповые и канукулярные программы</a>
                                </li>-->
                            <li class="b-main-menu_item_sub-item">
                                <a class="b-main-menu_item_sub-item_link" href="@Url.Action("Index", "CourseHoliday")">Каникулярные программы</a>
                            </li>
                            <li class="b-main-menu_item_sub-item">
                                <a class="b-main-menu_item_sub-item_link" href="@Url.Action("Index", "SchoolsIndividual")">Круглогодичные курсы</a>
                            </li>
                            <li class="b-main-menu_item_sub-item">
                                <a class="b-main-menu_item_sub-item_link" href="@Url.Action("Index", "SchoolsSecondary")">Среднее образование</a>
                            </li>
                            <li class="b-main-menu_item_sub-item">
                                <a class="b-main-menu_item_sub-item_link" href="@Url.Action("Index", "CourseCollegePreparation")">Подготовка к университету</a>
                            </li>
                        </ul>
                    </li>
                    <li class="b-main-menu_item">
                        <a class="b-main-menu_item-inner inner_menu" href="#">Студентам и взрослым </a>
                        <ul class="b-main-menu_item_sub">
                            <li class="b-main-menu_item_sub-item">
                                <a class="b-main-menu_item_sub-item_link" href="@Url.Action("Index", "CourseLanguage")">Языковые курсы</a>
                            </li>
                            <li class="b-main-menu_item_sub-item">
                                <a class="b-main-menu_item_sub-item_link" href="@Url.Action("Index", "CourseBuisness")">Специализированные курсы</a>
                            </li>
                            <li class="b-main-menu_item_sub-item">
                                <a class="b-main-menu_item_sub-item_link" href="@Url.Action("Index", "SchoolsHigher")">Высшее образование</a>
                            </li>
                            <!--<li class="b-main-menu_item_sub-item">
                                <a class="b-main-menu_item_sub-item_link" href="@Url.Action("Index", "TrainingInternshipsAbroad")">Стажировки за рубежом</a>
                            </li>-->
                            <li class="b-main-menu_item_sub-item">
                                <a class="b-main-menu_item_sub-item_link" href="@Url.Action("Index", "ExamPreparation")">Подготовка к сдаче экзаменов</a>
                            </li>
                            <li class="b-main-menu_item_sub-item">
                                <a class="b-main-menu_item_sub-item_link" href="@Url.Action("Index", "CourseParentChild")">Курсы для детей и родителей</a>
                            </li>
                        </ul>
                    </li>

                    <li class="b-main-menu_item">
                        <a class="b-main-menu_item-inner inner_menu" href="#">Преподавателям</a>
                        <ul class="b-main-menu_item_sub">
                            <li class="b-main-menu_item_sub-item">
                                <a class="b-main-menu_item_sub-item_link" href="@Url.Action("Index", "Cooperation")">Групповые поездки</a>
                            </li>
                            <li class="b-main-menu_item_sub-item">
                                <a class="b-main-menu_item_sub-item_link" href="@Url.Action("Index", "CourseRefresher")">Курсы повышения квалификации</a>
                            </li>
                            <!--<li class="b-main-menu_item_sub-item">
                                <a class="b-main-menu_item_sub-item_link" href="@Url.Action("Index", "TrainingClosedGroup")">Собрать свою группу</a>
                            </li>-->
                        </ul>
                    </li>
                    <!--
                    <li class="b-main-menu_item">
                        <a class="b-main-menu_item-inner" href="@Url.Action("Index", "Agency")">Агентствам</a>
                    </li>-->
                    <li class="b-main-menu_item">
                        <a class="b-main-menu_item-inner inner_menu" href="@Url.Action("Index", "Countries")">Страны</a>

                        <div class="b-main-menu_item_sub s-l_a_r-0">
                            <div class="s-multyRow clear">
                                @{
                                    DataTable items = ViewBag.countriesMenu;

                                    foreach (DataRow row in items.Rows)
                                    {
                                        <div class="b-main-menu_item_sub-item s-float_l">
                                            <a class="b-main-menu_item_sub-item_link" href="/Countries/country/@row["name"]">@row["name"]</a>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </li>
                    <li class="b-main-menu_item">
                        <a class="b-main-menu_item-inner" href="@Url.Action("Index", "Blog")">Новости</a>
                    </li>
                    <li class="b-main-menu_item">
                        <a class="b-main-menu_item-inner" href="@Url.Action("Index", "Article")">Статьи</a>
                    </li>
                    <li class="b-main-menu_item">
                        <a class="b-main-menu_item-inner" href="@Url.Action("Index", "Program")">Подбор прогр.</a>
                    </li>
                    <li class="b-main-menu_item s-display_n">
                        <a class="b-main-menu_item-inner" href="@Url.Action("Index", "AllSchools")">Школы</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>