﻿@using System.Data
@using System.Web.UI.WebControls
@using MySql.Data.MySqlClient
@{
    MySqlConnection Connection = new MySqlConnection("Database=u0066974_ask_education;Data Source=37.140.192.132;User Id=u0066_root;Password=gEt7m29&;charset=utf8");
    const string countryDataRequestString = @"SELECT * FROM countries";
    DataTable countriesMenu = new DataTable();
    using (Connection)
    {
        Connection.Open();

        MySqlCommand com = new MySqlCommand(countryDataRequestString, Connection);

        using (MySqlDataReader menu = com.ExecuteReader())
        {
            if (menu.HasRows)
            {
                try
                {
                    countriesMenu.Load(menu);
                }
                catch (Exception e) { }
            }
        }

    }
    ViewBag.countriesMenu = countriesMenu;
}
<div id="mobile-menu" class="b-mobile-menu mobile-menu-wrapper">
  
    <div class="mobile-menu-item"><a class="s-mobile-p mobile-menu-item_link s-display_b s-call_btn" href="tel:8(800)3335205"><i class="fa fa-phone-square"></i></a>
    </div>
   
    <div class="mobile-menu-item js-toggler_t">
        <a class="s-display_b js-toggler toggler_link s-mobile-p mobile-menu-item_link" href="javascript:void(0)">
            Детям и подросткам <i class="fa fa-angle-right s-ml_5 c10"></i>
        </a>
        <div class="mobile-menu-item_sub">
            <!-- subjects -->
            <div class="mobile-menu-item_sub">
                <a href="@Url.Action("Index", "CourseHoliday")" class="mobile-menu-item_sub_link">Каникулярные программы</a>
            </div>
            <div class="mobile-menu-item_sub">
                <a href="@Url.Action("Index", "SchoolsIndividual")" class="mobile-menu-item_sub_link">Круглогодичные курсы</a>
            </div>
            <div class="mobile-menu-item_sub">
                <a href="@Url.Action("Index", "SchoolsSecondary")" class="mobile-menu-item_sub_link">Среднее образование</a>
            </div>
            <div class="mobile-menu-item_sub">
                <a href="@Url.Action("Index", "CourseCollegePreparation")" class="mobile-menu-item_sub_link">Подготовка к университету</a>
            </div>
        </div>
    </div>
    <div class="mobile-menu-item js-toggler_t">
        <a class="s-display_b js-toggler toggler_link s-mobile-p mobile-menu-item_link" href="javascript:void(0)">
            Студентам и взрослым <i class="fa fa-angle-right s-ml_5 c10"></i>
        </a>
        <div class="mobile-menu-item_sub">
            <!-- subjects -->
            <div class="mobile-menu-item_sub">
                <a class="mobile-menu-item_sub_link" href="@Url.Action("Index", "CourseLanguage")">Языковые курсы</a>
            </div>
            <div class="mobile-menu-item_sub">
                <a class="mobile-menu-item_sub_link" href="@Url.Action("Index", "CourseBuisness")">Специализированные курсы</a>
            </div>
            <div class="mobile-menu-item_sub">
                <a class="mobile-menu-item_sub_link" href="@Url.Action("Index", "SchoolsHigher")">Высшее образование</a>
            </div>
            <div class="mobile-menu-item_sub">
                <a class="mobile-menu-item_sub_link" href="@Url.Action("Index", "ExamPreparation")">Подготовка к сдаче экзаменов</a>
            </div>
            <div class="mobile-menu-item_sub">
                <a class="mobile-menu-item_sub_link" href="@Url.Action("Index", "CourseParentChild")">Курсы для детей и родителей</a>
            </div>
        </div>
    </div>
    <div class="mobile-menu-item js-toggler_t">
        <a class="s-display_b js-toggler toggler_link s-mobile-p mobile-menu-item_link" href="javascript:void(0)">
            Преподавателям <i class="fa fa-angle-right s-ml_5 c10"></i>
        </a>
        <div class="mobile-menu-item_sub">
            <!-- subjects -->
            <div class="mobile-menu-item_sub">
                <a class="mobile-menu-item_sub_link" href="@Url.Action("Index", "Cooperation")">Групповые поездки</a>
            </div>
            <div class="mobile-menu-item_sub">
                <a class="mobile-menu-item_sub_link" href="@Url.Action("Index", "CourseRefresher")">Курсы повышения квалификации</a>
            </div>
        </div>
    </div>
    <div class="mobile-menu-item">
        <a class="s-mobile-p mobile-menu-item_link s-display_b" href="@Url.Action("Index", "Countries")">
            Все страны
        </a>
    </div>
    <div class="mobile-menu-item js-toggler_t">
        <a class="s-display_b js-toggler toggler_link s-mobile-p mobile-menu-item_link" href="javascript:void(0)">
            Страны <i class="fa fa-angle-right s-ml_5 c10"></i>
        </a>
        <div class="mobile-menu-item_sub">
            @{
                DataTable items = ViewBag.countriesMenu;
                foreach (DataRow row in items.Rows)
                {
                    <div class="mobile-menu-item_sub">
                        <a class="mobile-menu-item_sub_link" href="~/Countries/country/@row["name"]">@row["name"]</a>
                    </div>
                }
            }

        </div>
    </div>
    <div class="mobile-menu-item">
        <a class="s-mobile-p mobile-menu-item_link s-display_b" href="@Url.Action("Index", "Blog")">
            Новости
        </a>
    </div>
    <div class="mobile-menu-item">
        <a class="s-mobile-p mobile-menu-item_link s-display_b" href="@Url.Action("Index", "Article")">
            Статьи
        </a>
    </div>
    <div class="mobile-menu-item">
        <a class="s-mobile-p mobile-menu-item_link s-display_b" href="@Url.Action("Index", "Program")">
            Подбор прогр.
        </a>
    </div>
    <div class="s-display_n">
        <a class="s-mobile-p mobile-menu-item_link s-display_b" href="@Url.Action("Index", "AllSchools")">
            Школы
        </a>
    </div>
    <div class="mobile-menu-item">
        <a class="s-mobile-p mobile-menu-item_link s-display_b" href="/About">
            Обратная связь
        </a>
    </div>
    <div class="mobile-menu-item">
        <a class="s-mobile-p mobile-menu-item_link s-display_b" href="/help">
            Помощь
        </a>
    </div>
    <div class="mobile-menu-item">
        <div class="">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 s-ta_c">
                <a href="http://vk.com/askeducation" class="fa-stack s-c_289350" target="_blank">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-vk fa-stack-1x"></i>
                </a>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 s-ta_c">
                <a href="http://facebook.com/ASKeducation13" class="fa-stack s-c_289350" target="_blank">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x"></i>
                </a>
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4 s-ta_c">
                <a href="http://ok.ru/group/52671460278431" class="fa-stack s-c_289350" target="_blank">
                    <i class="fa fa-square-o fa-stack-2x"></i>
                    <i class="fa fa-odnoklassniki fa-stack-1x"></i>
                </a>
            </div>
        </div>
    </div>
</div>