﻿@{
    ViewBag.Title = "ГРУППОВЫЕ КАНИКУЛЯРНЫЕ ПРОГРАММЫ";
}

<div class="s-container">
    <h1>Групповые каникулярные программы</h1>
    <p>
        Группа из 10-15 школьников вылетает из Москвы, Санкт-Петербурга или Екатеринбурга с куратором от Jey Study. Сопровождающий - скорее, "менеджер" группы - находится с детьми весь период поездки, помогает в решении любых вопросов: по учебе, быту, экскурсиям. Он следит, чтобы все дети получили максимум от поездки - и в учебе, и во время экскурсий, "лоббирует" интересы каждого ребенка из группы.
        Наш представитель круглосуточно доступен для родителей по мобильному телефону. Ему вы можете передать указания или советы насчет вашего ребенка, карманные деньги на хранение.
        В колледже - во время уроков, внеклассных мероприятий и поездок - группа перемешивается с школьниками из других стран для погружения в языковую среду.
    </p>
    <div class="s-line _grey"></div>
    @Html.Partial("_PartialCourseGroupSelectFilters")
    <div class="s-line _grey"></div>
    @Html.Partial("_PartialSort")
    <div class="s-line _grey"></div>
    <div class="row b-school-item">
        <div class="col-lg-3 col-md-3 col-sm-3 s-ta_c">
            <img width="210" src="~/Content/images/school/s.jpg" />
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 s-br_ddd">
            <p class="s-mb_9">
                <a class="s-underline" href="#">Absolutely English Sherborne school | Школа Absolutely Шерборн</a>
            </p>
            <p class="s-fs_13 s-c_777 s-mb_5">
                <i class="fa fa-plane s-mr_5 s-c_green"></i>
                Великобритания, Графство Дорсет
            </p>
            <p class="s-mb_9">
                <strong class="s-fs_13">
                    <i class="fa fa-flag-o s-mr_5 s-c_green"></i>
                    английский
                </strong>
            </p>
            <p class="s-fs_13">Школа предлагает одну из самых интенсивных и качественных программ английского для детей.</p>
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5">
            <div class="row s-mb_18">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <span class="s-fs_12 s-c_777">Город вылета:</span>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8">
                    <a class="s-mr_5 s-fs_12 s-filter active" href="javascript:;">Москва</a>
                    <a class="s-mr_5 s-fs_12 s-filter" href="javascript:;">Санкт-Петербург</a>
                </div>
            </div>
            <div class="s-line _grey"></div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <strong class="s-fs_12 s-block s-mb_5">Дата вылета</strong>
                    <i class="fa fa-user s-mr_5 s-c_green"></i>
                    <span class="s-fs_12">12..17 17</span>&nbsp;лет
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <strong class="s-fs_12 s-block s-mb_5">Время обучения</strong>
                    <i class="fa fa-clock-o s-mr_5 s-c_green"></i>
                    <span class="s-fs_12 s-c_777">до</span>&nbsp;<strong>13</strong>&nbsp;<span>недель</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <strong class="s-fs_12 s-block s-mb_5">Цена</strong>
                    <i class="fa fa-flag-o s-mr_5 s-c_green"></i>
                    <span class="s-fs_12">Английский</span>
                </div>
            </div>
        </div>
    </div>
</div>