﻿@using System.Data
@{
    ViewBag.Title = "Страны";


    DataTable countryCurrent = ViewBag.countryData;
    if (countryCurrent.Rows.Count > 0)
    {
        ViewBag.country = countryCurrent.Rows[0];
        ViewBag.MetaDescription = countryCurrent.Rows[0]["metadescription"];
        ViewBag.MetaKeywords = countryCurrent.Rows[0]["metakeywords"];
        ViewBag.Title = countryCurrent.Rows[0]["title"];
     }

}

<div class="s-container">
    <div>
        <ul class="s-breadcrumbs clear s-mt_18">
            <li class="s-breadcrumbs-item">
                <a class="s-mr_10" href="/">Главная</a>
                <i class="fa fa-angle-right s-c_777 s-fs_14"></i>
            </li>
            <li class="s-breadcrumbs-item">
                <a class="s-mr_10" href="@Url.Action("index", "Countries")">страны</a>
                <i class="fa fa-angle-right s-fs_14"></i>
            </li>
            <li class="s-breadcrumbs-item">
                <a href="@Request.Url.AbsoluteUri">@ViewBag.Title</a>
            </li>
        </ul>
    </div>
    <h1>@ViewBag.Title</h1>
    
    <div class="wysicontent js-toggler_t">
        <a class="js-toggler s-mb_5 s-display_b" href="javascript:void(0)">
            <i class="fa fa-angle-right"></i>
            показать/скрыть
        </a>
        @if (countryCurrent.Rows.Count > 0)
        {
            @Html.Raw(countryCurrent.Rows[0]["seo"])
        }
        <div class="b-blur"></div>
    </div>
    
    
    <div class="s-line _grey"></div>

    @Html.Partial("_PartialSchoolCountriesSelectFilters")
    <div class="s-line _grey"></div>
    @Html.Partial("_PartialSort")
    <div class="s-line _grey"></div>
    @Html.Partial("_PartialCountrySchoolList")

</div>

@section scripts{
    <script type="text/javascript" src="~/Content/js/libs/knockout-3.2.0.js"></script>
    <script type="text/javascript" src="~/Content/js/libs/knockout.mapping-latest.js"></script>
    <script type="text/javascript" src="~/Content/js/libs/format.js"></script>
    <script type="text/javascript" src="~/Content/js/models/filterModel.js?@DateTime.Now.GetHashCode()"></script>
    <script type="text/javascript">
        var FC = new FilterController("/countryPage", decodeURI(document.location.pathname.split("/").slice(-1)));
        FC.init();
        //FM.showCurrency(true);
    </script>

}



