﻿@using System.Data
@{
    ViewBag.Title = "Страны";
}

<div class="s-container">
    <div>
        <ul class="s-breadcrumbs clear s-mt_18">
            <li class="s-breadcrumbs-item">
                <a class="s-mr_10" href="/">Главная</a>
                <i class="fa fa-angle-right s-c_777 s-fs_14"></i>
            </li>
            <li class="s-breadcrumbs-item">
                <a href="@Request.Url.AbsoluteUri">@ViewBag.Title</a>
            </li>
        </ul>
    </div>
    <h1>Страны</h1>

    <div class="row">
        @*<!-- ko foreach: listItems -->
        <div class="col-lg-3 col-md-3 col-sm-3">
            <div class="b-country_item s-mb_18">
                <div class="b-country_item-head">
                    <div class="s-pos_r b-country_item-inner">
                        <img data-bind="attr:{src:('/Content/images/countries/'+ $data.id + '.jpg')}" width="210" alt="country" class="b-country_item-head-img"/>
                        <div class="b-country_item-head-img_shadow"></div>
                    </div>
                    <div class="b-country_item-head-overlay">
                        <h1 class="s-c_fff">
                            <a data-bind="text:$data.name, attr:{href:('/Countries/country/'+ $data.name)}" class="s-c_fff s-fs_26i s-underline s-f_light" href="#"></a>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->*@
        @{
            DataTable countries = ViewBag.countryTable;

            foreach (DataRow row in countries.Rows)
            {
                string imageUrl = "/Content/images/countries/" + row["id"] + ".jpg";
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <div class="b-country_item s-mb_18">
                        <div class="b-country_item-head">
                            <div class="s-pos_r b-country_item-inner">
                                <img alt="Обучение и образование @row["name"]" title="Обучение и образование @row["name"]" src="@imageUrl" width="210" class="b-country_item-head-img" />
                                <div class="b-country_item-head-img_shadow"></div>
                            </div>
                            <div class="b-country_item-head-overlay">
                                <h1 class="s-c_fff">
                                    <a class="s-c_fff s-fs_26i s-underline s-f_light" href="/Countries/country/@row["name"]">@row["name"]</a>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                
            }

        }
       
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/Content/js/libs/knockout-3.2.0.js"></script>
    <script type="text/javascript" src="~/Content/js/libs/knockout.mapping-latest.js"></script>
    <script type="text/javascript" src="~/Content/js/libs/underscore.js"></script>
    <script type="text/javascript" src="~/Content/js/models/filterModel.js?@DateTime.Now.GetHashCode()"></script>
    <script type="text/javascript">
        var FC = new FilterController("country", "all");
        FC.init();
    </script>
}


