﻿@{
    ViewBag.Title = "Ошибка 500";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Exception
<h4 class="center">Внутренняя ошибка сервера</h4>
<p>
    Это непредвиденная ошибка. Пожалуйста, свяжитесь с системным администратором.
</p>
@if (Model != null && HttpContext.Current.IsDebuggingEnabled)
{
    <div class="row-fluid">
        <p>
            <b>Exception:</b> @Model.Message<br />
        </p>
        <div style="overflow: scroll">
            <pre>@Model.StackTrace</pre>
        </div>
    </div>
}