﻿@using System.Collections.Specialized
@using System.Web.Configuration
@{
    ViewBag.Title = "askeducation - образование, обучение, учеба за рубежом и за границей";
    ViewBag.MetaDescription = "askeducation - команда профессионалов, которая проводит подбор и бронирование программ обучения за рубежом.";
    ViewBag.MetaKeywords = "askeducation, образование за рубежом, обучение за рубежом, образование за границей, обучение за границей, учеба за границей, учеба за рубежом";
}

<div class="b-banner-section s-mb_18">
    <div class="s-container">
        <div class="row">
            <div class="col-md-12 s-ta_c"><!--col-md-10 col-md-offset-1 -->
                <div class="b-banner-section_header">ask education</div>
                <h1 class="lead boxed">Подберите подходящую Вам программу обучения</h1>
                <form action="#" method="get" id="search-form">
                    <div class="customform customform-small row">
                        <div class="col-md-3 col-lg-3 col-sm-3 s-ta_l s-mb_9">
                            <label class="">возраст</label>
                            <select data-bind="value:age" class="custom s-full" name="filter[age]">
                                <option value="">Все</option>
                                <option value="4-6">4-6</option>
                                <option value="7-12">7-12</option>
                                <option value="13-17">13-17</option>
                                <option value="18+">18+</option>
                                <option value="50+">50+</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3 s-ta_l s-mb_9">
                            <label class="">язык</label>
                            <select data-bind="value:language" class="custom s-full" name="filter[lang]">
                                <option value="">Все</option>
                                <option value="Английский">Английский</option>
                                <option value="Испанский">Испанский</option>
                                <option value="Итальянский">Итальянский</option>
                                <!--<option value="Китайский">Китайский</option>
            <option value="Корейский">Корейский</option>-->
                                <option value="Немецкий">Немецкий</option>
                                <option value="Французский">Французский</option>
                                <!--<option value="Японский">Японский</option>-->
                                <option value="Чешский">Чешский</option>
                                <option value="Греческий">Греческий</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3 s-ta_l s-mb_9">
                            <label class="">тип курса</label>
                            <select data-bind="value:type" class="custom s-full" name="filter[type]">
                                <option value="">Все</option>
                                <option value="bisnes">Специализированные курсы </option>
                                <option value="higher">Высшее образование</option>
                                <option value="holiday">Каникулярные программы</option>
                                <option value="individual">Круглогодичные курсы</option>
                                <option value="refresher">Курсы повышения квалификации</option>
                                <option value="collegepreparation">Подготовка к университету</option>
                                <option value="exampreparation">Подготовка к сдаче экзаменов</option>
                                <option value="parentchild">Курсы для детей и родителей</option>
                                <option value="secondary">Среднее образование</option>
                                <option value="language">Языковые курсы</option>

                            </select>
                        </div>
                        <div class="col-md-3 col-lg-3 col-sm-3 ">
                            <label class="s-display_b">&nbsp;</label>
                            <span class="s-icon">
                                <button data-toggle="modal" data-target="#searchCourse" data-bind="click:search" class="ask_btn" type="submit">
                                    <i class="fa fa-search s-mr_5"></i>Поиск
                                </button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="b-banner-section_bottom"></div>
</div>
<div class="s-container">
    <h2 class="h1 s-ta_c s-uppercase fluid-head">
        <!--<i class="fa fa-thumbs-o-up" style="color: #F8B000;margin-right: 10px;"></i>-->
        Популярные программы
    </h2>
    <div id="schools" class="row">
        <!-- ko foreach: schools -->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="b-course">
                <div class="s-mb_9 b-course-img-wrap">
                    <a data-bind="attr:{href:('/school/index/' + $data.id)}" class="s-full">
                        <img onerror="javascript: askApp.imgError(this);" class="s-max-full" data-bind="attr:{src:('/Content/images/school/big/l_'+ $data.id + '.jpg')}" width="300" />
                    </a>
                </div>
                <div class="b-course-padding">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <p class="s-mb_9">
                                <a data-bind="attr:{href:('/school/index/' + $data.id)}">
                                    <strong data-bind="text:$data.name"></strong>
                                </a>
                            </p>
                            <p class="s-mb_9">
                                <i class="fa fa-plane s-mr_5"></i>
                                <span data-bind="text:$data.country"></span>,&nbsp;<span data-bind="text:$data.city"></span>
                            </p>
                            <p class="s-mb_9">
                                <strong>Язык:</strong>
                                <i class="fa fa-flag-o"></i>
                                <span data-bind="text:$data.language"></span>
                            </p>
                            <p class="s-mb_0">
                                <a href="@Url.Action("index","CourseBest")">
                                    <i class="fa fa-book s-mr_5"></i>
                                    <strong>Курсы</strong>
                                    <sup data-bind="text:$data.children.length"></sup>
                                </a>
                            </p>
                            <ul data-bind="foreach:$data.children" class="list-default">
                                <li class="s-mb_9 s-fs_13">
                                    <a class="s-word_break" data-bind="text:$data.name,attr:{href:('/school/index/' + $parent.id +'#course-' + $data.id)}"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->

    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("Best", "School")" class="ask_btn pull-right">Все школы</a>
        </div>
    </div>


    <h2 class="h1 s-ta_c s-uppercase fluid-head">
        <!--<i class="fa fa-star-o" style="color: #F8B000;margin-right: 10px;"></i>-->
        Спецпредложения
    </h2>
    <div id="courses" class="row">
        <!-- ko foreach: courses -->
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="b-course">
                <div class="s-mb_9">
                    <div class="b-course-img-wrap">
                        <a data-bind="attr:{href:('/school/index/'+ $data.children[0].id +'#course-' + $data.id )}" class="s-max-full">
                            <!--<img class="s-full" data-bind="attr:{src:('/Content/images/school/'+ $data.children[0].id + '.jpg')}" width="300" />-->
                            <img class="s-full" src="~/Content/images/course.jpg" width="300" />
                        </a>
                    </div>
                    <div class="b-course-start">
                        <p class="s-mb_9">
                            <span class="">
                                <i class="fa fa-clock-o s-mr_5 s-c_green"></i>Дата начала
                            </span>
                            <span class="pull-right">
                                <strong data-bind="text:$data.startCourse"></strong>
                            </span>
                        </p>
                        <p class="s-mb_0">
                            <span class="">
                                <i class="fa fa-money s-c_green"></i>
                                Цена курса
                            </span>
                            <span data-bind="css:{'s-display_i':$data.cost !== '0'}" class="pull-right s-display_n">
                                <strong data-bind="text:$data.cost"></strong>
                                <strong data-bind="text:$data.label"></strong>
                            </span>
                            <strong data-bind="css:{'s-display_i':$data.cost === '0'}" class="pull-right s-fs_12 s-display_n">Цена по запросу</strong>
                        </p>
                    </div>
                </div>
                <div class="b-course-padding">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <p class="s-mb_9">
                                <strong>Курс:</strong>
                                <span class="s-word_break" data-bind="text:$data.name"></span>
                            </p>
                            <!-- ko foreach:$data.children -->
                            <p class="s-mb_9">
                                <a data-bind="text:$data.name, attr:{href:('/school/index/'+ $data.id )}"></a>
                            </p>
                            <!-- /ko -->
                            <p class="s-mb_9">
                                <strong>Язык:</strong>
                                <i class="fa fa-flag-o"></i>
                                <span data-bind="text:$data.language"></span>
                            </p>
                            <p class="s-mb_9">
                                <strong>Требуемый уровень</strong>
                                <span data-bind="text:$data.languageLevel"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->

    </div>
    <div class="row s-mb_27">
        <div class="col-md-12">
            <a href="@Url.Action("Index", "CourseBest")" class="ask_btn pull-right">
                <i class="fa fa-star-o s-mr_5"></i>Все спецпредложения
            </a>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <p class="s-ta_justify">
                Что такое образование за рубежом? Многие люди, услышав или прочитав фразу "образование за рубежом", реагируют весьма неоднозначно. В умах людей застыл сложившийся стереотип, что зарубежное образование – это удовольствие дорогое. Однако это не совсем так. Образование за рубежом может быть доступным, а в некоторых случаях даже бесплатным. Кроме того, к понятию зарубежное образование относится не только высшее образование такое, как бакалавриат или магистратура. Сюда можно отнести и детские каникулярные программы за рубежом, и различные языковые курсы (в том числе, программы подготовки к IELTS, TOEFL, TestDaF), и обучение в колледжах. Таким образом, термин образование за рубежом весьма объемный и важно понимать, что именно мы вкладываем в это понятие или что ищем. Несомненными преимуществами образования за рубежом (в любой его форме) являются изучение культуры и традиций другой страны, международные группы и знакомство с другой системой образования и подходом к образованию. Следует также отметить, что все формы зарубежного образования неразрывно связаны между собой. Всё может начинаться с самой обычной каникулярной программы, а привести в итоге к обучению в Оксфорде. Таким образом, не стоит недооценивать детские и взрослые языковые программы, ведь они закладывают фундамент на пути к получению высшего образования. Хорошая языковая подготовка - залог успеха. Более того, образование за рубежом - это полное погружение в языковую среду, а значит, наиболее эффективный способ обучения.
            </p>
        </div>
    </div>

    <h2 class="h1 s-ta_c s-uppercase fluid-head">
        <!--<i class="fa fa-comments-o" style="color: #F8B000;margin-right: 10px;"></i>-->
        Отзывы студентов
    </h2>
    <div class="row">
        <!-- ko foreach: reviews -->
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 b-subs">
            <div class="clear">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p class="s-mb_9">
                        <a href="@Url.Action("index", "Reviews")">
                            <strong data-bind="text:$data.name"></strong>
                        </a>
                    </p>
                    <p class="s-mb_9">
                    <p class="s-mb_9">
                        <i class="fa fa-plane s-c_green s-mr_5"></i>
                        <span data-bind="text:$data.country"></span>,&nbsp;
                        <span data-bind="text:$data.city"></span>
                    </p>
                    <p class="s-mb_9">
                        <i class="fa fa-user s-c_green s-mr_5"></i>
                        <strong data-bind="text:$data.author"></strong>
                    </p>
                    <p data-bind="text:$data.description"></p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <ul class="s-list_n s-fs_14 b-subs-counters">
                        <li class="clear s-mb_5">
                            <i class="fa fa-check s-c_green s-mr_5"></i>Обучение
                            <strong data-bind="text:$data.study" class="s-float_r"></strong>
                        </li>
                        <li class="clear s-mb_5">
                            <i class="fa fa-check s-c_green s-mr_5"></i>Инфраструктура
                            <strong data-bind="text:$data.infra" class="s-float_r"></strong>
                        </li>
                        <li class="clear s-mb_5">
                            <i class="fa fa-check s-c_green s-mr_5"></i>Внеклассные мероприятия
                            <strong data-bind="text:$data.activ" class="s-float_r"></strong>
                        </li>
                        <li class="clear s-mb_5">
                            <i class="fa fa-check s-c_green s-mr_5"></i>Цена/качество
                            <strong data-bind="text:$data.cost_q" class="s-float_r"></strong>
                        </li>
                    </ul>
                    <div class="clear b-subs-total">
                        <i class="fa fa-star-o s-mr_5"></i>Общая оценка
                        <strong data-bind="text:$data.complete" class="s-float_r"></strong>
                    </div>
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("index","Reviews")" class="ask_btn pull-right">Все отзывы</a>
        </div>
    </div>
    
    <h2 class="h1 s-ta_c s-uppercase fluid-head">
        <!--<i class="fa fa-newspaper-o" style="color: #F8B000;margin-right: 10px;"></i>-->
        Новости
    </h2>
    <div class="row">
        <!-- ko foreach: blog -->
        <!-- ko if:$data.isBlog === '1' -->
        <div class="b-blog col-md-6 col-lg-6 col-sm-6 s-mb_18">
            <p>
                <a data-bind="attr:{href:('/Blog/Item/' + $data.id)}" href="#">
                    <strong>
                        <span data-bind="text:$data.date"></span>&nbsp;
                        <span data-bind="text:$data.name"></span>
                    </strong>
                </a>
            </p>
            <div class="s-overflow_h s-float_l c200">
                <img class="s-full" data-bind="attr:{src:('/Content/images/blog/'+ $data.id + '.jpg')}" width="200" />
            </div>
            <div data-bind="text:$data.description" class="b-blog-description"></div>
        </div>
        <!-- /ko -->
        <!-- /ko -->
    </div>

    <div class="row">
        <div class="col-md-12">
            <a href="@Url.Action("index","blog")" class="ask_btn pull-right">Все новости</a>
        </div>
    </div>
</div>
@Html.Partial("PartialSearchModal")

@section scripts{
    <script type="text/javascript" src="~/Content/js/models/layoutModel.js"></script>
    <script type="text/javascript">
        var LC = new LayoutController("best");
        LC.init();
        askApp.modal();

    </script>
}
