﻿@using System.Data
@using System.Text
@{
    ViewBag.Title = "Новости обучение за границей";
    DataTable blogList = ViewBag.blogList;
    ViewBag.MetaKeywords = "askeducation - образование, обучение, учеба за рубежом и за границей";
    ViewBag.MetaDescription = "askeducation - команда профессионалов, которая проводит подбор и бронирование программ обучения за рубежом. Почитайте наш блог.";
}

<div class="s-container">
    <div>
        <ul class="s-breadcrumbs clear s-mt_18">
            <li class="s-breadcrumbs-item">
                <a class="s-mr_10" href="/">Главная</a>
                <i class="fa fa-angle-right s-c_777 s-fs_14"></i>
            </li>
            <li class="s-breadcrumbs-item">
                <a href="@Request.Url.AbsoluteUri">Новости</a>
            </li>
        </ul>
    </div>
    <h1>Новости</h1>
    <div class="row">
    @foreach (DataRow item in blogList.Rows)
    {

        if ((System.Boolean) item["isBlog"] == true)
        {
            <div class="b-blog col-md-12 col-lg-12 col-sm-12 s-mb_18">
                <p>
                    <a href="~/Blog/item/@item["id"]">
                        <strong>
                            <span>@item["date"]</span>&nbsp;
                            <span>@item["name"]</span>
                        </strong>
                    </a>
                </p>
                <div class="row s-mb_18">
                    @{ var imgName = item["id"] + ".jpg"; }
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 s-ta_c s-mb_18">
                        <img alt="@item["name"]" title="@item["name"]" class="s-full s-max-210" src="~/Content/images/blog/@imgName" />
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">@item["description"]</div>
                </div>
            </div>


        }
    }
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/Content/js/models/blogModel.js"></script>
}