﻿@using System.Data
@{
    ViewBag.Title = "КУРСЫ ПОВЫШЕНИЯ КВАЛИФИКАЦИИ";
    ViewBag.MetaKeywords = "курсы повышения квалификации за рубежом / за границей, askeducation";
    ViewBag.MetaDescription = "Язык - это живая система, в которой постоянно появляются новые слова, что делает его ещё сложнее. Любой &quot;живой&quot; язык находится в постоянном развитии. И если с родным языком всё достаточно просто, поскольку его мы используем каждый день, то любой иностранный язык необходимо постоянно совершенствовать.";
}

<div class="s-container">
    <div>
        <ul class="s-breadcrumbs clear s-mt_18">
            <li class="s-breadcrumbs-item">
                <a class="s-mr_10" href="/">Главная</a>
                <i class="fa fa-angle-right s-c_777 s-fs_14"></i>
            </li>
            <li class="s-breadcrumbs-item">
                <a href="@Request.Url.AbsoluteUri">Курсы повышения квалификации</a>
            </li>
        </ul>
    </div>
    <h1>Курсы повышения квалификации</h1>
    <div class="wysicontent js-toggler_t">
        <a class="js-toggler s-mb_5 s-display_b" href="javascript:void(0)">
            <i class="fa fa-angle-right"></i>
            показать/скрыть
        </a>
        @{
            DataTable pages = ViewBag.page;

            foreach (DataRow row in pages.Rows)
            {
                @Html.Raw(row["description"])

            }

        }
        <div class="b-blur"></div>
    </div>
    <div class="s-line _grey"></div>
    @Html.Partial("_PartialCourseSelectFilters")
    <div class="s-line _grey"></div>
    @Html.Partial("_PartialSort")
    <div class="s-line _grey"></div>
    @Html.Partial("_PartialCourseList")
</div>

@Html.Partial("PartialJoinedModal")

@section scripts{
    <script type="text/javascript" src="~/Content/js/models/filterModel.js?@DateTime.Now.GetHashCode()"></script>
    <script type="text/javascript">
        askApp.modal();
        var FC = new FilterController("course", "refresher");
        FC.init();
    </script>
}